In [22]:
#import dependenceis
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import datetime

In [23]:
#view data sources

clin_data_path = '../OriginalData/WHO_NREVSS_Clinical_Labs.csv'

#read data sources
clin_data = pd.read_csv(clin_data_path, skiprows = 1)

In [24]:
#view clin data
clin_df = pd.DataFrame(clin_data)


clin_df.rename(columns={'TOTAL SPECIMENS': 'TOTAL'}, inplace=True)

clin_df.head(10)

,REGION TYPE,REGION,YEAR,WEEK,TOTAL,TOTAL A,TOTAL B,PERCENT POSITIVE,PERCENT A,PERCENT B
0,States,Alabama,2016,40,406,4,1,1.23,0.99,0.25
1,States,Alaska,2016,40,X,X,X,X,X,X
2,States,Arizona,2016,40,133,0,0,0,0,0
3,States,Arkansas,2016,40,47,0,0,0,0,0
4,States,California,2016,40,668,2,0,0.3,0.3,0
5,States,Colorado,2016,40,260,0,0,0,0,0
6,States,Connecticut,2016,40,199,3,0,1.51,1.51,0
7,States,Delaware,2016,40,40,0,0,0,0,0
8,States,District of Columbia,2016,40,X,X,X,X,X,X
9,States,Florida,2016,40,X,X,X,X,X,X

In [48]:
#view clin data
clin_df = pd.DataFrame(clin_data)

#remove region type

clin_drop = clin_df.drop(columns = 'REGION TYPE')

#remove rows containing X
clin_drop2 = clin_drop[clin_drop['TOTAL'] != 'X']
clin_drop2 = clin_drop[clin_drop['TOTAL A'] != 'X']
clin_drop2 = clin_drop[clin_drop['TOTAL B'] != 'X']
clin_drop2 = clin_drop[clin_drop['PERCENT POSITIVE'] != 'X']
clin_drop2 = clin_drop[clin_drop['PERCENT A'] != 'X']
clin_drop2 = clin_drop[clin_drop['PERCENT B'] != 'X']

#convert datatypes of columns to float
clin_drop2 = clin_drop2[['REGION', 'WEEK', 'YEAR','TOTAL', 'TOTAL A', 'TOTAL B', 'PERCENT POSITIVE', 'PERCENT A', 'PERCENT B']]

df_subset = clin_drop2

for column in df_subset.columns[3:]:
    df_subset[column] = df_subset[column].astype('float')


#clean clin
nxt_clin = df_subset

nxt_clin.head (10)

,REGION,WEEK,YEAR,TOTAL,TOTAL A,TOTAL B,PERCENT POSITIVE,PERCENT A,PERCENT B
0,Alabama,40,2016,406.0,4.0,1.0,1.23,0.99,0.25
2,Arizona,40,2016,133.0,0.0,0.0,0.00,0.00,0.00
3,Arkansas,40,2016,47.0,0.0,0.0,0.00,0.00,0.00
4,California,40,2016,668.0,2.0,0.0,0.30,0.30,0.00
5,Colorado,40,2016,260.0,0.0,0.0,0.00,0.00,0.00
6,Connecticut,40,2016,199.0,3.0,0.0,1.51,1.51,0.00
7,Delaware,40,2016,40.0,0.0,0.0,0.00,0.00,0.00
10,Georgia,40,2016,552.0,6.0,3.0,1.63,1.09,0.54
11,Hawaii,40,2016,188.0,4.0,1.0,2.66,2.13,0.53
12,Idaho,40,2016,13.0,0.0,0.0,0.00,0.00,0.00

In [49]:
clin_max = nxt_clin['TOTAL'].sum()
clin_max = nxt_clin['TOTAL A'].sum()
clin_max = nxt_clin['TOTAL B'].sum()

In [50]:
weeks = nxt_clin['WEEK']

season = []

for week in weeks:
    if week >= 51:
        season.append('WINTER')
    elif week >= 38:
        season.append('FALL')
    elif week >= 25:
        season.append('SUMMER')
    elif week >= 12:
        season.append('SPRING')
    elif week >=1:
        season.append('WINTER')
        
nxt_clin['SEASON'] = season
    
nxt_clin.head()

,REGION,WEEK,YEAR,TOTAL,TOTAL A,TOTAL B,PERCENT POSITIVE,PERCENT A,PERCENT B,SEASON
0,Alabama,40,2016,406.0,4.0,1.0,1.23,0.99,0.25,FALL
2,Arizona,40,2016,133.0,0.0,0.0,0.00,0.00,0.00,FALL
3,Arkansas,40,2016,47.0,0.0,0.0,0.00,0.00,0.00,FALL
4,California,40,2016,668.0,2.0,0.0,0.30,0.30,0.00,FALL
5,Colorado,40,2016,260.0,0.0,0.0,0.00,0.00,0.00,FALL

In [51]:
nxt_clin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8996 entries, 0 to 11229
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   REGION            8996 non-null   object
 1   WEEK              8996 non-null   int64
 2   YEAR              8996 non-null   int64
 3   TOTAL             8996 non-null   float64
 4   TOTAL A           8996 non-null   float64
 5   TOTAL B           8996 non-null   float64
 6   PERCENT POSITIVE  8996 non-null   float64
 7   PERCENT A         8996 non-null   float64
 8   PERCENT B         8996 non-null   float64
 9   SEASON            8996 non-null   object
dtypes: float64(6), int64(2), object(2)
memory usage: 773.1+ KB

In [54]:
season_df = nxt_clin.groupby('SEASON').sum()
#season_df = nxt_clin.groupby('SEASON').sum()['TOTAL A']
#season_df = nxt_clin.groupby('SEASON').sum()['TOTAL B']
season_df.head()

,WEEK,YEAR,TOTAL,TOTAL A,TOTAL B,PERCENT POSITIVE,PERCENT A,PERCENT B
SEASON,,,,,,,,
FALL,100921,4620403,1041989.0,27652.0,21760.0,7215.28,4862.14,2353.24
SPRING,40819,4610235,968663.0,48886.0,34979.0,12580.93,6325.04,6255.74
SUMMER,63664,4141960,357032.0,1637.0,1123.0,1410.81,842.90,567.97
WINTER,30639,4783496,2585385.0,434360.0,170469.0,47199.03,34769.04,12430.16

In [57]:
nxt_clin.to_csv('clinical.csv',index=False)