In [30]:
#import dependenceis
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import datetime

In [31]:
#view data sources

clin_data_path = '../OriginalData/WHO_NREVSS_Clinical_Labs.csv'

#read data sources
clin_data = pd.read_csv(clin_data_path, skiprows = 1)

In [32]:
#view clin data
clin_df = pd.DataFrame(clin_data)


clin_df.rename(columns={'TOTAL SPECIMENS': 'TOTAL'}, inplace=True)

clin_df.head(10)

,REGION TYPE,REGION,YEAR,WEEK,TOTAL,TOTAL A,TOTAL B,PERCENT POSITIVE,PERCENT A,PERCENT B
0,States,Alabama,2016,40,406,4,1,1.23,0.99,0.25
1,States,Alaska,2016,40,X,X,X,X,X,X
2,States,Arizona,2016,40,133,0,0,0,0,0
3,States,Arkansas,2016,40,47,0,0,0,0,0
4,States,California,2016,40,668,2,0,0.3,0.3,0
5,States,Colorado,2016,40,260,0,0,0,0,0
6,States,Connecticut,2016,40,199,3,0,1.51,1.51,0
7,States,Delaware,2016,40,40,0,0,0,0,0
8,States,District of Columbia,2016,40,X,X,X,X,X,X
9,States,Florida,2016,40,X,X,X,X,X,X

In [33]:
#view clin data
clin_df = pd.DataFrame(clin_data)

#remove region type

clin_drop = clin_df.drop(columns = 'REGION TYPE')

#remove rows containing X
clin_drop2 = clin_drop[clin_drop['TOTAL'] != 'X']
clin_drop2 = clin_drop[clin_drop['TOTAL A'] != 'X']
clin_drop2 = clin_drop[clin_drop['TOTAL B'] != 'X']
clin_drop2 = clin_drop[clin_drop['PERCENT POSITIVE'] != 'X']
clin_drop2 = clin_drop[clin_drop['PERCENT A'] != 'X']
clin_drop2 = clin_drop[clin_drop['PERCENT B'] != 'X']

#convert datatypes of columns to float
clin_drop2 = clin_drop2[['REGION', 'WEEK', 'YEAR','TOTAL', 'TOTAL A', 'TOTAL B', 'PERCENT POSITIVE', 'PERCENT A', 'PERCENT B']]



#clean clin
nxt_clin = clin_drop2

nxt_clin.head (10)

,REGION,WEEK,YEAR,TOTAL,TOTAL A,TOTAL B,PERCENT POSITIVE,PERCENT A,PERCENT B
0,Alabama,40,2016,406,4,1,1.23,0.99,0.25
2,Arizona,40,2016,133,0,0,0,0,0
3,Arkansas,40,2016,47,0,0,0,0,0
4,California,40,2016,668,2,0,0.3,0.3,0
5,Colorado,40,2016,260,0,0,0,0,0
6,Connecticut,40,2016,199,3,0,1.51,1.51,0
7,Delaware,40,2016,40,0,0,0,0,0
10,Georgia,40,2016,552,6,3,1.63,1.09,0.54
11,Hawaii,40,2016,188,4,1,2.66,2.13,0.53
12,Idaho,40,2016,13,0,0,0,0,0

In [34]:
clin_max = nxt_clin['TOTAL'].sum()
clin_max = nxt_clin['TOTAL A'].sum()
clin_max = nxt_clin['TOTAL B'].sum()

In [21]:
week = nxt_clin['WEEK']

season = []

for week in weeks:
    if week >= 51:
        season.append('WINTER')
    elif week >= 38:
        season.append('FALL')
    elif week >= 25:
        season.append('SUMMER')
    elif week >= 12:
        season.append('SPRING')
    elif week >=1:
        season.append('WINTER')
        
nxt_clin['SEASON'] = season
    
nxt_clin.head()

,REGION,WEEK,YEAR,TOTAL SPECIMENS,TOTAL A,TOTAL B,PERCENT POSITIVE,PERCENT A,PERCENT B,SEASON
0,Alabama,40,2016,406,4,1,1.23,0.99,0.25,FALL
2,Arizona,40,2016,133,0,0,0,0,0,FALL
3,Arkansas,40,2016,47,0,0,0,0,0,FALL
4,California,40,2016,668,2,0,0.3,0.3,0,FALL
5,Colorado,40,2016,260,0,0,0,0,0,FALL

In [36]:
season_df = nxt_clin.groupby(['SEASON']).sum()['TOTAL']
season_df = nxt_clin.groupby(['SEASON']).sum()['TOTAL A']
season_df = nxt_clin.groupby(['SEASON']).sum()['TOTAL B']
season_df.head()

KeyError: 'SEASON'

In [26]:
nxt_clin.to_csv('clinical.csv',index=False)